<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>TowReQ</title>
   
   <link rel="stylesheet" href="vendor/css/bootstrap.min.css">
   <link rel="stylesheet" href="vendor/css/bootstrap-theme.min.css">
   <link rel="stylesheet" href="vendor/css/normalize.css">
   <link rel="stylesheet" href="app/css/style.css">

   <!-- VENDOR FILES -->
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOJ-dkcU-lwAdfUT4nywV1qrp-RdxwP44&sensor=true"></script>
   <script src="vendor/js/angular.js"></script>
   <script src="vendor/js/angular-route.js"></script>
   <script src="vendor/js/angular-resource.js"></script>
   <script src="vendor/js/angular-sanitize.js"></script>
   <script src="vendor/js/lb-services.js"></script>
   <script src="vendor/js/underscore-min.js"></script>
   <script src="vendor/js/jquery.min.js"></script>
   <script src="vendor/js/bootstrap.min.js"></script>
   <script src="vendor/js/modernizr.min.js"></script>
   <script src="vendor/js/glfx.min.js"></script>
   // <script src="vendor/js/moment.min.js"></script>
   <script src="vendor/js/lodash.min.js"></script>

   <!-- APP FILES -->
   <!-- // <script src="app/js/angular-file-upload.js"></script> -->
   <script src="app/js/services.js"></script>
   <script src="app/js/controllers.js"></script>
   <script src="app/js/directives.js"></script>
   <script src="app/js/filters.js"></script>
   <script src="app/js/app.js"></script>

   <!-- Q:  How to allow files to only load when a view loads? -->

</head>
<body ng-app="app">
   <div class="container">
      <div class="navbar navbar-inverse navbar-fixed-top">
         <div class="navbar-header">
            <div class="navbar-brand">TowReQ</div>
         </div>
      </div>
   </div><br /><br />
   <div id="page" class="row">
      <div class="row">
         <div id="flash" class="alert-box alert" ng-show="flash">{{flash}}</div>
      </div>
      <div class="row">
         <ng-view id="view"></ng-view>
      </div>
   </div>
</body>
</html>
