<br /><br />
<div id="login" class="col-lg-4 col-lg-offset-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Please login...</h3>
    </div>
    <div class="panel-body">
      <form ng-submit="login(credentials)">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" name="email" placeholder="username" ng-model="credentials.username" />
        </div>
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" name="password" placeholder="password" ng-model="credentials.password" />
        </div>
        <div class="input-group input-group-lg">
          <select ng-model="userType">
            <option selected value="" selected>Select User Type</option>
            <option selected value="towEmp">Tow Employee</option>
            <option selected value="reqEmp">Requestor Employee</option>
          </select>
          <button class="btn btn-default">Log In</button>
        </div>
      </form>
    </div>
  </div>
</div>