<div id="req-home" class="col-lg-10 col-lg-offset-1">
   <!--TOP NAVIGATION CONTAINER -->
   <div class="container">
      <ul class="page-nav">
         <li><a view-nav href="" value="sites">SITES</a></li>
         <li><a view-nav href="" value="emps">EMPLOYEES</a></li>
         <li><a view-nav href="" value="tow-reqs">REQUESTS</a></li>
      </ul>
   </div>
   
   <!-- MAIN BODY CONTAINER -->
   <div id="requestor-body" class="container">
      <sites-view ng-show="viewsToShow['sites']"></sites-view>
      <emps-view ng-show="viewsToShow['emps']"></emps-view>
      <tow-reqs-view ng-show="viewsToShow['tow-reqs']"></tow-reqs-view>
   </div>
   
   <!-- FOOTER AREA -->
   <div class="container" ng-controller="authenCtrl">   
      <button class="btn btn-primary btn-lg" ng-click="logout()">Log Out</button>
      <button class="btn btn-warning btn-lg" ng-click="testAPIData()">test API Data</button>
      <button class="btn btn-warning btn-lg" ng-click="getTowReqs()">Tow Requests</button>
      </div>
   </div>
</div>