<div class="tow-reqs-view" id="tow-reqs-view-left">
	<div class="panel panel-default">Listings of Tow Reqs</div>
</div>

<div class="tow-reqs-view" id="tow-reqs-view-middle">
	<!-- VEHICLE PICTURES -->
	<div id="vehicle-pics">
		<div class="vehicle-img" ng-repeat="picture in pictureTypes">
			<toggle-media-section class="thumbnail">
				<!-- <div class='caption'>
					<strong>{{picture.type}}</strong>
				</div>
				<button>
					<img src='/app/img/buttons/add.png' />
				</button> -->
			</toggle-media-section>
		</div>
	</div>
	<div class="clear"></div>

	<!-- VEHICLE DETAILS -->
	<div class="tow-reqs-view" id="vehicle-details" ng-show="detailsMode">
		<div class="panel panel-default">
			<div class="panel-heading"><strong>VEHICLE DETAILS</strong></div>
			<div class="list-group">
				
				<!-- VIN # -->
				<enter-vin class="list-group-item" ng-show="input.vin">
					<h4 class="text-left"></h4>
				</enter-vin>
				<p>9BWKE61J334068557<p>
				<p>2HNYD18262H512079<p>
				<p>1HGFA16857L135270<p>

				<!-- LIC NO -->
				<div class="list-group-item" ng-show="input.licNo">
					<h4 class="text-left">
						Lic No: <b><input type="text" ng-model="vehicle.licenseNum" /></b>
						<big class="glyphicon glyphicon-ok" ng-show="!input.vin && input.licNo && !input.vehicle"></big>
						<big class="glyphicon glyphicon-trash" ng-show="!input.vin && input.licNo && !input.vehicle"></big>
					</h4>
					
				</div>

				<!-- VEHICLE TYPE -->
				<div class="list-group-item" ng-show="input.vehicle">
					<h4 class="text-left">Vehicle Type&nbsp;
						<b><input type="text" value="{{vehicle.vehicleTypeId}}" ng-model="vehicle.vehicleTypeId" /></b>
					</h4>
				</div>
				
				<!-- YEAR -->
				<div class="list-group-item" ng-show="input.vehicle">
					<h4 class="text-left">Year&nbsp;
						<b><input type="text" value="{{vehicle.year}}" ng-model="vehicle.year" /></b>
					</h4>
				</div>

				<!-- MAKE -->
				<div class="list-group-item" ng-show="input.vehicle">
					<h4 class="text-left">Make
						<b><input type="text" value="{{vehicle.make}}" ng-model="vehicle.make" /></b>
					</h4>
				</div>

				<!-- MODEL -->
				<div class="list-group-item" ng-show="input.vehicle">
					<h4 class="text-left">Model
						<b><input type="text" value="{{vehicle.model}}" ng-model="vehicle.model"/></b>
					</h4>
				</div>

				<!-- TRANSMISSION -->
				<div class="list-group-item" ng-show="input.vehicle">
					<h4 class="text-left">Transmission
						<b><input type="text" value="{{vehicle.transmission}}" ng-model="vehicle.transmission"/></b>
					</h4>
				</div>

				<!-- COLOR # -->
				<div class="list-group-item" ng-show="input.vehicle">
					<h4>Color
						<select ng-model="vehicle.color">
							<option value="Red">Red</option>
							<option value="Orange">Orange</option>
							<option value="Yellow">Yellow</option>
							<option value="Green">Green</option>
							<option value="Turquoise">Turquoise</option>
							<option value="Blue">Blue</option>
							<option value="Purple">Purple</option>
							<option value="Black">Black</option>
							<option value="White">White</option>
						</select>
					</h4>
				</div>
			</div>
		</div>
		<div class="clear"></div>

		<!-- Site Selections -->
		<div id="site-selections" ng-show="detailsMode">
			<div class="panel panel-default">
				<div class="panel-heading"><strong>SITES</strong></div>
				<div class="list-group">
					<div class="list-group-item" ng-show="input.vehicle">
						<select ng-model="towReq.reqSiteId">
							<option selected value="">Choose site</option>
							<!-- <option ng-repeat="reqEmpDuty in reqEmpDuties" value="{{reqEmpDuty.reqSite.id}}">{{reqEmpDuty.reqSite.street}}, {{reqEmpDuty.reqSite.city}} {{reqEmpDuty.reqSite.stateId}}</option> -->
							<option select-req-site ng-repeat="reqEmpDuty in reqEmpDuties" ng-value="{{reqEmpDuty.reqSiteId}}">{{reqEmpDuty.reqSite.street}}, {{reqEmpDuty.reqSite.city}} {{reqEmpDuty.reqSite.stateId}}</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>

		<!-- Tow Request Controls -->
		<div id="submit-request" ng-show="input.vin && input.licNo && input.vehicle">
			<div class="btn-group btn-group-justified">
				<div class="btn-group btn-sm">
					<button type="button" class="btn btn-success" ng-click="initTowReq()"><h2>SUBMIT</h2></button>
				</div>
			</div>
			<div class="btn-group btn-group-justified">
				<div class="btn-group btn-sm">
					<button type="button" class="btn btn-warning"><h2>POSTPONE</h2></button>
				</div>
			</div>
			<div class="clear"></div>
			<div class="btn-group btn-group-justified">
				<div class="btn-group btn-sm">
					<button type="button" class="btn btn-danger"><h2>CANCEL</h2></button>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>

	<!-- CAMERA/PICTURE MODE -->
	<div class="tow-reqs-view" id="camera-photos" ng-hide="detailsMode">
		<div class="panel panel-default">
            <div id="camera-mode" ng-show="cameraMode">
            	<video width="395" height="220" autoplay="true"></video>
	    		<button class="btn btn-lg btn-primary" disabled id="takePicture" ng-click="takePicture()">
	    			<big class="glyphicon glyphicon-camera"></big>
	    		</button>
	    	</div>
            <div id="picture-mode" ng-hide="cameraMode">
            	<canvas width="395" height="220"></canvas>
	        	<button keep-picture class="btn btn-lg btn-success">
	        		<big class="glyphicon glyphicon-ok"></big>
				</button>
	    		<button class="btn btn-lg btn-danger" ng-click="removePicture()">
	    			<big class="glyphicon glyphicon-trash"></big>
	    		</button>
	    	</div>
		</div>
	</div>
</div>
<!-- <div class="tow-reqs-view" id="tow-reqs-view-right">
	<div class="panel panel-default">
        <camera id="camera">
            <div id="camera-mode">
            	<video width="395" height="220" autoplay="true"></video>
	    		<button class="btn btn-lg btn-primary" disabled id="takePicture" ng-click="takePicture()">
	    			<big class="glyphicon glyphicon-camera">&nbsp;</big>
	    		</button>
	    	</div>
            <div id="picture-mode" ng-hide="cameraMode">
            	<canvas width="395" height="220"></canvas>
	        	<button class="btn btn-lg btn-success" ng-click="acceptPicture()">
	        		<big class="glyphicon glyphicon-ok"></big>
				</button>
	    		<button class="btn btn-lg btn-danger" ng-click="removePicture()">
	    			<big class="glyphicon glyphicon-trash"></big>
	    		</button>
	    	</div>
            <div ng-repeat="item in uploader.queue">
				<div><strong>{{ item.file.name }}</strong></div>
				<div ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</div>
				<button type="button" class="btn btn-succss btn-xs"
					ng-click="item.upload()"
					ng-disabled="item.isReady || item.isUploading || item.isSuccess">
					<span class="glypicon glyphicon-upload"></span>Upload
				</button>
				<button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
					<span class="glypicon glyphicon-trash"></span>Remove
				</button>
            </div>
            <input ng-file-select type="file" />
        </camera>
	</div>
</div> -->