<div id="tow-home">
   <div class="row">&nbsp;</div>
   <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
         <table>
            <tr>
               <td>
                   <table>
                     <tr>
                        <td><b>FILTERING:&nbsp;&nbsp;</b></td>
                        <td>
                           Statuses: 
                           <select ng-model="query" />
                              <option value="" selected>All</option>
                              <option ng-repeat="status in statuses" value="{{status.id}}">{{status.name}}</option>
                           </select>
                        </td>
                     </tr>
                     <tr>
                        <td><b>ORDER BY:&nbsp;&nbsp;</b></td>
                        <td>
                           <select ng-model="sortOrder" />
                              <option selected value="" selected>None</option>
                              <option selected value="vehicle.vehicleType.name">Vehicle Type</option>
                              <option selected value="statusEntries[statusEntries.length-1].statusId">Status</option>
                              <option selected value="vehicle.color">Vehicle Color</option>
                              <!-- <option selected value="Impounded">Distance</option> -->
                           </select>
                        </td>
                     </tr>
                   </table>
               </td>
               <td width="100%">
                  <div class="panel panel-default" ng-repeat="towSite in towSites">
                     ID: {{towSite.id}}<br />
                     {{towSite.name}}<br />
                     {{towSite.street}}<br />
                     {{towSite.city}}, {{towSite.stateId}} {{towSite.zip}}
                  </div>
               </td>
            </tr>
         </table>
      </div>
   </div>
   <div class="row">&nbsp;</div>
   <div class="row">
      <div class="col-lg-4 col-lg-offset-1">
         <tow-req-summary ng-repeat="towReq in towReqs | orderBy:sortOrder | property:'statusEntries.statusId':'last':query">
            <div class="panel panel-default">
               <table class="tow-request">
                  <tr>
                     <td class="vehicle-pic">
                        <img class="media-object" ng-src="app/img/vehicles/{{towReq.reqPictures[2].filename}}"/><br />
                        <b>{{towReq.vehicle.vehicleTypeId | vehicleTypeMapping}}</b>
                     </td>
                     <td class="request-info">
                        <h4 class="text-left">{{towReq.vehicle.make}} {{towReq.vehicle.model}} - {{towReq.vehicle.color}}</h4>
                        <address><strong>{{towReq.reqSite.name}}</strong><br>
                        {{towReq.reqSite.street}}<br>
                        {{towReq.reqSite.city}}, {{towReq.reqSite.stateId}} {{towReq.reqSite.zip}}
                        </address>
                     </td>
                     <td class="status-info">
                        <img class="media-object" ng-src="app/img/driver/{{towReq.statusEntries[towReq.statusEntries.length-1].towEmpDuty.towEmp.filename}}" />
                        <h4><div class="label label-primary">{{towReq.statusEntries[towReq.statusEntries.length-1].statusId | statusMapping}}</div></h4>
                     </td>
                  </tr>
               </table>
            </div>
         </tow-req-summary>
      </div>
      <div class="col-lg-6">
         <!-- MAPS OF ALL TOW REQS -->
         <map-canvas ng-show="showMapCanvas" status-entries="statusEntries" statuses="statuses" tow-sites="towSites"></map-canvas>

         <!-- TOW REQ DETAILS -->
         <tow-req-details ng-show="showTowReqDetails">
            <div class="panel panel-default">
               <div class="tow-req-media">
                  <h4 class="text-left">STATUS HISTORY</h4>
                  <div ng-repeat="statusEntry in chosenTowReq.statusEntries">
                     <i> {{statusEntry.statusId | statusMapping}}</i> @ {{statusEntry.timestamp}}
                  </div>
                     <button ng-repeat="nextStatus in nextStatuses" class="btn btn-warning btn-md" ng-disabled="!nextStatus.highlight" ng-click="updateStatus(nextStatus)">{{nextStatus.name}}</button>
               </div>
               <div class="tow-req-details">
                  <h3 class="text text-left">
                     <span class="label label-default">{{chosenTowReq.vehicle.make}} {{chosenTowReq.vehicle.model}} - {{chosenTowReq.vehicle.color}}</span>
                  </h3>
                  <b>Vehicle Type: </b>{{chosenTowReq.vehicle.vehicleTypeId}} <br />
                  <!-- <b>Vehicle Type: </b>{{chosenTowReq.vehicle.vehicleTypeId | vehicleTypeMapping}} <br /> -->
                  <b>Lic No: </b>{{chosenTowReq.vehicle.licenseNum}}<br />
                  <b>VIN: </b>{{chosenTowReq.vehicle.vin}}<br />
               </div>
               <div class="clear"></div>
            </div>
            <div class="panel panel-default">
               <div class="tow-req-media" id="map-canvas-small"></div>
               <div class="tow-req-details">
                  <p class="thumbnail" ng-repeat="reqPicture in chosenTowReq.reqPictures">
                     <img ng-src="app/img/vehicles/{{reqPicture.filename}}" /> 
                  <p>
               </div>
               <div class="clear"></div>
            </div>
            <div class="panel panel-default">
               <div class="tow-req-media">
                  <img ng-repeat="parkingSign in chosenTowReq.reqSite.parkingSigns" ng-src="app/img/parkingSigns/{{parkingSign.filename}}" />
               </div>
               <div class="tow-req-details">
                  <h4 class="text-left">{{chosenTowReq.reqSite.name}}</h4>
                  <p>{{chosenTowReq.reqSite.street}}</p>
                  <p>{{chosenTowReq.reqSite.city}}, {{chosenTowReq.reqSite.stateId}} {{chosenTowReq.reqSite.zip}}</p>
               </div>
               <div class="clear"></div>
            </div>
         </tow-req-details>
      </div>
   </div>
   <div class="row">&nbsp;</div>
   <div class="row">
      <div class="col-lg-4 col-lg-offset-4" ng-controller="authenCtrl">
         <button class="btn btn-primary btn-lg" ng-click="logout()">Log Out</button>
         <button class="btn btn-warning btn-lg" ng-click="testAPIData()">test API Data</button>
      </div>
   </div>
</div>