h1,h2,h3,h4,h5 {
  text-align: center;
}

button {
  margin-bottom: 0px !important;
}

body {
	background: #fffff0;
}

#page {
	border-radius: 5px;
	margin: 0 auto;
	padding: 5px;
	width: auto;
}
	.page-nav {
		list-style-type: none;
		border-bottom: 1px solid #D8D8D8;
		padding:2px;
	}

	.page-nav li {
		display: inline;
		font-size: x-large;	
		padding:2px;
	}
		.chosen-nav-link {
			font-weight:bold;
			background-color: gray;
			font-color: white;
		}

#req-home {
	vertical-align: top;
}

	#requestor-body {
		
		padding: 3px;
	}
		.tow-reqs-view {
			float:right;
			padding:1px;
		}

		#tow-reqs-view-left {
			width: 310px;
			float: left;
			
		}

		#tow-reqs-view-middle {
			width:456px;
			float:left;
		}

			#vehicle-pics {
				width:100%;
				border-bottom:1px solid #D8D8D8;
			}

				.vehicle-img {
					width:151px;
					height:auto;
					float:left;
					text-align:center;
				}
					.vehicle-img img {
						width:100%;
						height:auto;
					}

			.color-button {
				padding: 15px 18px;
				border-radius:5px;
				border:1px solid #D8D8D8;
			}
				#color-button-red {
					background-color: #FF0000;
				}
				#color-button-orange {
					background-color: #FF8F00; 
				}
				#color-button-yellow {
					background-color: #FFFF00;
				}
				#color-button-green {
					background-color: #01DF01; 
				}
				#color-button-turquoise {
					background-color: #00FFFF; 
				}
				#color-button-blue {
					background-color: #0000FF; 
				}
				#color-button-purple {
					background-color: #8904B1; 
				}
				#color-button-black {
					background-color: #000000;
				}
				#color-button-white {
					background-color: #FFFFFF;
				}

		#tow-reqs-view-right {
			width: 395px;
			float: right;
		}

		#camera-photos {
			text-align: center
		}

.tow-request td {
	padding: 3px 3px;
	vertical-align: top;
	font-family: lucida, helvetica;
}

	.vehicle-pic img{
		width: 130px;
		border: 1px #ddd solid;
	}

	.request-info {
		width: 100%;
	}
	
	.status-info img{
		width: 110px;
		border: 1px #ddd solid;
	}	

#map-canvas {
	height: 550px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid gray;
}

#map-canvas-small {
	height: 500px;
	width: 490px;
	border-radius: 5px;
	border: 1px solid green;
}

.tow-req-details {
	width: 200px;
	float: right;
	padding: 2px;
	margin: 3px;
}

.tow-req-media {
	width: 490px;
	float: right;
	padding: 2px;
	margin: 3px;
	vertical-align: top;
}
	.tow-req-media p{
		/*display:inline-block;*/
		width:33.33%;
	}

	.vehicle-img p img{
		/*display:inline-block;*/
		height:100px;
	}

.clear {
	clear: both;
}